<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 针对 Android 11- (兼容旧版本) -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 针对 Android 12+ (API 31+) -->
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <!-- BLUETOOTH_ADVERTISE 仅在需要作为蓝牙外设广播时才需要 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

    <!-- 位置权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Android 13 的附近设备权限 -->
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES" />

    <!-- WIFI所需权限   -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!--  MQTT所需  -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 前台服务权限（必须） -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--   指定前台服务 Android 14 (API 34) 要求指定用途，否则会崩溃 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <!-- 声明蓝牙功能 -->
    <uses-feature android:name="android.hardware.bluetooth" android:required="true" />
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true" />

    <application>
        <!-- MQTT Service -->
        <service
            android:name="com.genialsir.iothelper.mqtt.MqttService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
    </application>

</manifest>
