<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--  MQTT所需  -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 前台服务权限（必须） -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--   指定前台服务 Android 14 (API 34) 要求指定用途，否则会崩溃 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />


    <application>
        <!-- MQTT Service -->
        <service
            android:name="com.genialsir.mvvmcommon.mqtt.MqttService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
    </application>
</manifest>
